h1 {
  font-family: 'Cabin', sans-serif;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  background-color: #edf4ff;
}

code {
  color: #659cf3;
  font-size: 15px;
  padding: 0;
  background-color: inherit;
  border-radius: 0;
}

code > .input {
  color: #0056a0;
  font-weight: 800;
}

.center {
  text-align: center;
}

.vcenter {
  margin-top: 20%;
}

.list-inline > li > code {
  padding-left: 10px;
  padding-right: 10px;
}

ul.ingredients {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.chefBox {
  height: 300px;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.25s ease;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity 250ms ease-out;
}
.fade-leave.fade-leave-active {
  opacity: 0;
}

.padLeft {
  padding-left: 20px;
}
.padTop {
  padding-top: 10px;
}

.fireRed {
  color: #ff0500;
}

.failure {
  background-color: #ffbaba;
}

.success {
  background-color: #c1f5b1;
}

#rating {
  margin-top: 10px;
}
